#gridcontainer{
    display: grid;
    grid-template-areas: 
    'header header header'
    'left main main'
    'left main main'
    ;
}
#item1{
    grid-area: header;
    width: 100% ;
    background-color:rgb(233, 155, 181);
    height: 33vh;
}
#item2 {
    grid-area: left;
    width: 100%;
    background-color: pink;
    height: 66vh;
}


#item3{
    grid-area: main;
    width: 100%;
    background-color: palevioletred;
    height: 66vh;
}

@media only screen and (max-width : 600px){
  body{
   background-color:blue;
  }
  #gridcontainer{
      display: grid;
    grid-template-areas:
   'header'
   'left'
   'main';  
  }  
  #item1{
    grid-area: header;
    width: 100%;
    background-color:blueviolet;
    height: 66vh;     
}




}
button {
    height: 20%;
    font-size: 40px;
    background-color: blueviolet;   
     animation-name:blink ; 
     animation-duration: 5s;
     animation-iteration-count: infinite;
}

 @keyframes blink{
    0%  {background-color:rgb(226, 43, 186);border-radius: 0%;}
   30% {background-color:cornsilk;border-radius: 50%}
   80% {background-color:darkcyan;border-radius: 100%}
   100%  {background-color: blueviolet;border-radius: 0%;}

}

