<!DOCTYPE html>
 <html lang="en">
<head>
    <title>Cv</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="with=device-with",initial-scale="1.0">
    <link rel = "stylesheet" href="CV.css">
    <script src="CV.js"></script>
    <title>Cv</title>


 </head>
 <body>
 {% include 'Header.html' %}
    <div id= "Gridcontainer">
        <h1 class="heading"  > Cv Tzil Simka</h1>
        <div id="item1">
            <h2 id="h2"> To contact my plc add your info </h2>
            <p>Click on the my picture to see and download my CV <p>
                                       <a href="Tzlil simka_cv.pdf" download>
                    <img src="Tzlil simka.PNG" alt="my cv" width="104" height="142">
                  </a>
            
        <div id="item2"></div>  
        <form action="">
            <label for="email" class= "filed" id="email" >E-mail:</label><br><br>
          <input type="text"  class= "filed" id="email" name="email" onload = "validEmail"><br><br>
            <label for="number" class= "filed" id="number" >Phone-number:</label><br><br>
          <input type="text" class= "filed" id="number" name="number" ><br><br>
        </form>  

        <div id="item3"> </div>
        </div>
</div>


 





 </body>
</html>

